@model List<GamerShop.Models.Movies.ShowShortMovieCollectionViewModel>

<title>Подборки фильмов</title>

<div class="containerPage">
    <div style="margin-bottom: 20px;">
        <h2>Добро пожаловать на сайт с подборками фильмов.</h2>

            <label for="filterCriteria">Самые </label>
            <select id="filterCriteria" name="filterCriteria">
                <option value="Newest">новые</option>
                <option value="Popular">популярные</option>
            </select>
    </div>
    
    <div id="movieCollectionList"></div>
</div>

@section Style{
    <link rel="stylesheet" href="~/css/movieMain-display-styles.css" />
}
@section Scripts
    {
    <script src="~/js/filterCriteria.js"></script>
}
