@using GamerShop.Models.Football;
@model FootballLeagueViewModel

@using (Html.BeginForm("AddLegue", "FootballLeagues", FormMethod.Post))
{
    <div>
        <div>
            FullName
            @Html.TextBoxFor(model => model.FullName)
        </div>
        <div>
            ShortName
            @Html.TextBoxFor(model => model.ShortName)
        </div>
        <div>
            <input type="submit" value="Записать" />
        </div>
    </div>
}