@model AddMoviesViewModel

@using (Html.BeginForm("Add", "Movies", FormMethod.Post))
{
    <div>
        <h4 style="color: #34495e">Добавление фильма в список любимых</h4>
    </div>
    <div>
        <label style="color: #95a5a6; marging-left: 20 px;">Введите название фильма: <br/></label>
        @Html.TextBoxFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title, "", new { style = "color: #e74c3c; margin-left: 5px;" })
    </div>
    <div>
        <input type="submit" value="Добавить фильм" style="background-color: #3498db; color: #fff;
        padding: 5px 10px; border: none; margin-top: 10px; cursor: pointer; border-radius: 4px;"/>
    </div>
}