@using GamerShop.Models.Auth
@model LoginViewModel

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <div>
        <div>
            Login
            @Html.TextBoxFor(model => model.Login)
            @Html.ValidationMessageFor(x=>x.Login)
        </div>
        <div>
            Password
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(x=>x.Password)
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </div>
}
