@using GamerShop.Models.Auth
@model RegisterViewModel

@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
{
    <div>
        <div>
            Login
            @Html.TextBoxFor(model => model.Login)
            @Html.ValidationMessageFor(x=>x.Login)
            <span class="checkResult"></span>
        </div>
        <div>
            Password
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(x=>x.Password)
        </div>
        <div>
            <input type="submit" value="Регистрация" />
            <span class="checkResult"></span>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/Auth/reigister.js"></script>
}

@section Style{
    <link rel="stylesheet" href="~/css/auth.css" />
}