@using DALInterfaces.Models.Books;
@using GamerShop.Models.Books;
@model NewBookViewModel

@using (Html.BeginForm("Book", "Books", FormMethod.Post))
{
    <div>
        <div>
            Название книги
            @Html.TextBoxFor(model => model.Name)
        </div>
        <div>
            Автор
            @Html.DropDownList(nameof(NewBookViewModel.Authors), Model.Authors, new{ @class = "form-control" })
        </div>
        <div>
            Год выпуска
            @Html.TextBoxFor(model => model.YearOfIssue)
        </div>
        <div>
            <input type="submit" value="Добавить" />
        </div>
    </div>
}