@using DALInterfaces.Models.Books;
@using GamerShop.Models.Books;
@model NewBookViewModel

@using (Html.BeginForm("NewBook", "Books", FormMethod.Post))
{
    <div>
        <div>
            Book name
            @Html.TextBoxFor(model => model.Name)
        </div>
        <div>
            Author(s)
            @Html.ListBoxFor(x => x.SelectedAuthors, new MultiSelectList(Model.Authors, "Value", "Text"), new{ @class = "form-control" })
        </div>
        <div>
            Year of issue
            @Html.TextBoxFor(model => model.YearOfIssue)
        </div>
        <div>
            <input class="button-link positive-button" type="submit" value="SAVE"/>
        </div>
    </div>
}
@section Style{
    <link rel="stylesheet" href="~/css/Books/book.css" />
}