@model PaginatorViewModel<GamerShop.Models.Movies.ShowShortMovieCollectionViewModel>

<h2>Список подборок фильмов</h2>

<label for="sorterCriteria">Сортировка:</label>
<select id="sorterCriteria" name="sorterCriteria">
    <option value="Newest">По дате</option>
    <option value="Popular">По рейтигу</option>
    <option value="Alphabetically">По названию</option>
</select>

<label for="sorterDirection">Направление сортировки:</label>
<select id="sorterDirection" name="IsAscending">
    <option value="True">По возрастанию</option>
    <option value="False">По убыванию</option>
</select>

<div id="showAllContainer">
    @Html.Partial("_UpdateShowAllPartialViewModel", Model)
</div>


@section Style {
        <link rel="stylesheet" href="~/css/movieCollections.css"/>
}

@section Scripts
{
    <script src="~/js/ShowAllFilterCriteria.js"></script>
}
