@using GamerShop.Models.RockHall;
@using GamerShop.Services;
@model NewBandViewModel
@{
    ViewData["Title"] = "New Band";
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName ?? Layout;
}

@using (Html.BeginForm("NewRockBand", "RockBand", FormMethod.Post))
{
    <div>
        <!   FULL NAME>
        <div>
            @Html.LabelFor(model => model.FullName)

        </div>
        <div>
            @Html.TextBoxFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>
        <div>
            <input type="submit" value="Add" />
        </div>
    </div>
}