@model List<IndexViewModel>

<div>
    На сайте зарегестрированны следующие пользователи.
    <div>
        <input class="search-text" type='text' placeholder="Введи имя пользователя" />
    </div>

    <div class="users">
        @foreach (var user in Model)
        {
            <div class="user-row">
                <span class="name">@user.Name</span>
                <span class="symbol">+</span>
                <span class="movie-info">(Favorite Movie : @user.FavoriteMovieName)</span>
            </div>
        }
    </div>
    <div class="user-row template">
        <span class="name"></span>
        <span class="symbol">+</span>
        <span class="movie-info">(Favorite Movie : <span class="favorite-movie-name"></span>)</span>
    </div>
</div>

@section Style{
    <link rel="stylesheet" href="~/css/home-index.css" />
}

@section Scripts{
    <script src="~/js/Home/index.js"></script>
}
