@model List<string>

<div>
    Новые персонажи.
    @foreach(var user in Model){
        <div>
            @user
            <a class="del" href="~/BaldursGate/Delete/?id=@Model.IndexOf(user)" />X<a />
        </div>


    }
</div>
