@using GamerShop.Models.Football;
@using GamerShop.Services;
@model List<FootballLeagueViewModel>
@{
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName ?? Layout;
}
<div>
    Лиги :
    @foreach (var item in Model)
    {
        <div>
            <p> Полное название:@item.FullName <a class="del" href="~/FootballLeagues/Remove?id=@item.Id">X</a></p>
        </div>
    }
</div>
@section Style{
    <link rel="stylesheet" href="~/css/_ClubList.css" />
}
@section Scripts{
    <script src="~/js/Football/FootballNav.js"></script>
}