@using GamerShop.Models.Football;
@using GamerShop.Services;
@model FootballLeagueViewModel
@{
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName ?? Layout;
}

@using (Html.BeginForm("NewLeague", "FootballLeagues", FormMethod.Post))
{
    <div>
        <div>
            Full Name
            @Html.TextBoxFor(model => model.FullName)
        </div>
        <div>
            Short Name
            @Html.TextBoxFor(model => model.ShortName)
        </div>
        <div>
            Counrty
            @Html.TextBoxFor(model => model.Counrty)
        </div>

        <div>
            <input type="submit" value="Записать" />
        </div>
    </div>
}
@section Style{
    <link rel="stylesheet" href="~/css/_ClubList.css" />
}

@section Scripts{
    <script src="~/js/Football/FootballNav.js"></script>
}