body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.details {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.ratingSt {
    color: #333;
    font-size: 1em;
}

.description {
    color: #555;
}