body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.containerPage {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-group {
    margin-top: 20px;
}

.form-label {
    font-size: 18px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.checkbox-group {
    list-style-type: none;
    padding-left: 0;
}

.checkbox-item {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-label {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}

.toggle-input {
    width: 30px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ccc;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

    /* Круглый маркер-переключатель */
    .toggle-input::before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: transform 0.3s, background-color 0.3s;
    }

    /* Стиль для включенного переключателя */
    .toggle-input:checked::before {
        transform: translateX(10px);
        background-color: #007bff;
    }