.page-button {
    border: 1px hidden;
    border-radius: 30%;
    text-decoration: none;
    color: blue;
    padding: 8px;
    background: #f2f2f2;
}

    .page-button.active {
        font-weight: 900;
        background: #BBB;
    }

.pages {
    margin-top: 60px;
    text-align: center;
    
}

.info-footer {
    margin-left: 20%;
    color: red;
    font-weight: 900;
}