@using GamerShop.Models.Users

@model ProfileViewModel

<div>
    Profile @Model.Name

    @*<form enctype="multipart/form-data"></form>*@
    @using (Html.BeginForm("Profile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.Id)

        <input name="Avatar" type="file" />

        <input type="submit" value="Upload avatar" />
    }

    <div>
        Current job is done to @Model.CurrentJobProgress % 
        @if (Model.IsFileReady)
        {
            <a href="/User/DownloadReport" target="_blank">download</a>
        }
    </div>

    <div>
        @if (Model.Name == "Admin")
        {
            <form action="/User/NotifyAllUser">
                <input id="message" name="message" placeholder="Enter message for all user here" />
                <input type="submit" value="Send to all users"/>
            </form>
        }
    </div>
</div>
