@{
	ViewBag.Title = "Recipe Window";
}

<h2>Recipe Window</h2>

<div class="row">
	<div class="col-md-4">
		<h3>My Recipes</h3>
		<p><a href="@Url.Action("Add", "Recipe")">Add New Recipe</a></p>
		<p><a href="@Url.Action("Show", "Recipe")">View All Recipes</a></p>
	</div>
	<div class="col-md-4">
		<h3>Favorite Recipes</h3>
		<p><a href="@Url.Action("Favorites", "Recipe")">View My Favorite Recipes</a></p>
	</div>
</div>