@using GamerShop.Services;
@{
    ViewData["Title"] = "isNotAdmin";
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName ?? Layout;
}

<img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;
background-color: hsl(110, 0%, 90%);transition: background-color 300ms;"
src="https://tlgrm.ru/_/stickers/e54/25f/e5425f18-22cc-33f9-aada-b61dd458d026/1.jpg"
width="500" height="500">

<h1 style="text-align: center">Приходи когда станешь Админом...!!!</h1>