<h1>Rock Member</h1>
<a asp-action="Index" asp-controller="RockHall">Index</a>
<div>
    <a asp-action="NewRockMember" asp-controller="RockHall">NewRockMember</a>
</div>
<h1>Rock Band</h1>
<div>
    <a asp-action="Show" asp-controller="RockBand">Show</a>
</div>
<div>
    <a asp-action="NewRockBand" asp-controller="RockBand">NewRockBand</a>
</div>
<a asp-action="ChooseMember" asp-controller="RockBand">ChooseMember</a>