@using GamerShop.Models.RockHall;
@using GamerShop.Services;
@model RockSettingsViewModel
@{
    ViewData["Title"] = "Settings";
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName ?? Layout;
}


<div>
    Setting


    @*<form enctype="multipart/form-data"></form>*@
    @using (Html.BeginForm("RockSettings", "RockHall", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input name="Background" type="file" />

        <input type="submit" value="Update background" />
    }


</div>