.book-list {
}

.book-card {
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fdfdfd;
}

    .book-card:hover {
        border-color: #d40000;
    }

.book-cover {
    width: 20%;
    height: 100%;
}

.book-basic-information {
    padding: 5px;
    width: 80%;
}

ul.separator {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
}
ul.separator li {
        border-right: 3px solid #ff0000;
        padding-inline:10px;
    }
    ul.separator li:first-child {
        padding-left: 0;
    }
ul.separator li:last-child {
        border-right: 0;
    }

.button-link {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid;
    background-color: #ffffff;
}

.negative-button {
    border-color: #d40000;
    color: #d40000;
}

    .negative-button:hover {
        background-color: #d40000;
        color: #fdfdfd;
    }

.positive-button {
    border-color: #00D441;
    color: #00D441;
}

    .positive-button:hover {
        background-color: #00D441;
        color: #fdfdfd;
    }

.neutral-button {
    border-color: #666666;
    color: #666666;
}

    .neutral-button:hover {
        background-color: #666666;
        color: #fdfdfd;
    }
