@model GamerShop.Models.BaldursGate.PaginatorHeroViewModel

<div>
    Новые персонажи.
    @foreach(var hero in Model.HeroList){
        <div>
          <h1>Пользователь @hero.Name: Создал персонажа @hero.Name <a class="del" href="~/BaldursGate/Remove?">X</a></h1>  
        </div>


    }
</div>