
@model List<GamerShop.Models.BaldursGate.BaldursGateModel>

<div>
    Новые персонажи.
    @foreach(var hero in Model){
        <div>
          <h1>Пользователь @hero.Creator_Name :Создал персонажа @hero.Id @hero.Name <a class="del" href="~/BaldursGate/Remove?id=@hero.Id">X</a></h1>  
        </div>


    }
</div>