@using GamerShop.Models.BaldursGate
@model List<BaldursGateModel>

<div>
    Новые персонажи.
    @foreach(var hero in Model){
        <div>
            @hero.Id
            @hero.Name
            <a class="del" href="~/BaldursGate/Remove?id=@hero.Id">X</a>
        </div>


    }
</div>