@using GamerShop.Models.BaldursGate

@model ReportViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<div>
        <a href="~/BaldursGate/ReportCreate" target="_blank">Скачать отчёт</a>
</div>
<div>
    <a href="~/BaldursGate/Reportdecimal" target="_blank">Посмотреть процесс скачивания</a>
</div>
</body>
</html>