<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
	            <li class="nav-item">
		            <a class="nav-link text-dark" href="/Recipe/Add">Add New Recipe</a>
	            </li>
	            <li class="nav-item">
		            <a class="nav-link text-dark" href="/Recipe/ShowAll">Show All Recipes</a>
	            </li>
	            <li class="nav-item">
		            <a class="nav-link text-dark" href="/Recipe/Favorites">Show Favorite Recipes</a>
	            </li>
            </ul>
        </div>
    </div>
</nav>