@model List<string>
<div>
    Список клубов:
    @foreach (var item in Model)
    {
        <div>
            @item
            <a class="del" href="~/FootballClubs/Remove/?id=@Model.IndexOf(item)" />  <a />
            
        </div>
    }
</div>