@model List<FootballClubViewModel>
<div>
    Список клубов:
    @foreach (var item in Model)
    {
        <div>
            @item.Name <a class="del" href="~/FootballClubs/Remove?id=@item.Id" />
        </div>
    }
</div>