@using  GamerShop.Models.Football;
@using GamerShop.Services;
@model PaginatorViewModel<FootballClubViewModel<ShortFootballLeagueViewModel>>

@{
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName??Layout;
}

<div>
    Список клубов:
    @foreach (var item in Model.Items)
    {
        <div>
            <p>Создал:@item.CreatorName: @item.Name <a class="del" href="~/FootballClubs/Remove?id=@item.Id">X</a></p>
        </div>
    }
    <div class="pages">
        @foreach (var pageNumber in Model.AvailablePages)
        {
            <a href="/FootballClubs/ClubsList?page=@pageNumber" class="page-button @(Model.Page == pageNumber ? "active" : "")">@pageNumber</a>
        }
    </div>
</div>

@section Style{
    <link rel="stylesheet" href="~/css/_ClubList.css" />
}