@using GamerShop.Models.Football;
@model FootballClubViewModel<List<ShortFootballLeagueViewModel>>

@using (Html.BeginForm("NewClub", "FootballClubs", FormMethod.Post))
{
    <div>
        <div>
            Name
            @Html.TextBoxFor(model => model.Name)
        </div>
        <div>
            Stadium
            @Html.TextBoxFor(model => model.Stadium)
        </div>

        <div>
            <p>Select League</p>
            @Html.DropDownListFor(model => model.SelectedLigue,new SelectList(Model.FootballLeagueinfo,"Id","ShortName"))
        </div>

        <div>
            <input type="submit" value="Записать" />
        </div>
    </div>
}