@model ShiftViewModel

@using (Html.BeginForm("Add", "Shift", FormMethod.Post))
{
    <div>
        <div>
            Date: @Html.TextBoxFor(model => model.Date)
        </div>
        <div>
            Shift start: @Html.TextBoxFor(model => model.ShiftStart)
        </div>
        <div>
            Shift finish: @Html.TextBoxFor(model => model.ShiftFinish)
        </div>
        <div>
            Salary: @Html.TextBoxFor(model => model.Salary)
        </div>
        <div>
            <input type="submit" value="Add"/>
        </div>
    </div>
}